<ion-content class="ion-padding" id="welcome">
  <img src="assets/imgs/logo.png" class="logo" />
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Mobil Programlama II</h2>
        <h2>Utku Doğan 15330141</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="full" routerLink="/register"
          >Kayıt
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" routerLink="/login"
          >Giriş</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
